<!DOCTYPE html>
	<html>
	  <head>
	    <link href="{{url}}bootstrap/css/bootstrap.css" rel="stylesheet">
	    <script type="text/javascript" src="{{url}}bootstrap/js/d3.v2.min.js"></script>
	<style>
	 
	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 4.5px;
	}
	</style>
	 
	  </head>
	  <body>
<center>
	   <h3>About you</h3>
	    <div style="width: 80%;" align="left"> 
		<h4>Your Influence</h4>
		<p>Your Rank: {{rank}} <small>(out of {{max_rank}})</small></p>
		<p>Your Influence Score: {{score}}</p>
	 
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	    <h4>Your Network</h4>
This is a diagram of all of the people you have recruited and all of the people they have recuited (and so on..). Their emails have been randomized for privacy.
	    <div id="viz"></div>
	    <script type="text/javascript">
 
	      //JSON object with the data
	      var treeData = eval({{tree|safe}});
	      treeData.name = 'You';
	 
	      // Create a svg canvas
	      var vis = d3.select("#viz").append("svg:svg")
	      .attr("width", 1000)
	      .attr("height", 50*{{level}}+200)
	      .append("svg:g")
	      .attr("transform", "translate(0, 40)"); // shift everything to the right
	 
	      // Create a tree "canvas"
	      var tree = d3.layout.tree()
	    .size([900,50*{{level}}]);
	 
	      var diagonal = d3.svg.diagonal()
	      // change x and y (for the left to right tree)
	      .projection(function(d) { return [d.x, d.y]; });
	 
	      // Preparing the data for the tree layout, convert data into an array of nodes
      var nodes = tree.nodes(treeData);
	      // Create an array with all the links
	      var links = tree.links(nodes);
	 
	      var link = vis.selectAll("pathlink")
	      .data(links)
	      .enter().append("svg:path")
	      .attr("class", "link")
	      .attr("d", diagonal)
	 
	      var node = vis.selectAll("g.node")
	      .data(nodes)
	      .enter().append("svg:g")
	      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
	 
	      // Add the dot at every node
	      node.append("svg:circle")
	      .attr("r", 6.5);
	 
	      // place the name atribute left or right depending if children
	      node.append("svg:text")
	      .attr("dx", function(d) { return d.children ? -8 : 8; })
	      .attr("dy", -12)
	      .attr("text-anchor", function(d) { return d.children ? "end" : "start"; })
	      .text(function(d) { return d.name; })
	 
	    </script>
	    </div>
</center>
  </body>
	</html>
<!--<html>
<head>
<script src="http://opinion.berkeley.edu/ca-prop-30-awareness/bootstrap/js/d3.v2.js"></script>
</head>
<body>
Score: {{ score }}
Top Score: {{ top_score }}
Rank: {{ rank }}
<script src='http://opinion.berkeley.edu/ca-prop-30-awareness/bootstrap/js/tree.js' type='text/javascript'> </script>
</body>
</html>-->
